{
  "parser": "babel-eslint",
  "rules": {
      "no-console":0,
      "indent": ["error", 4],
      "no-alert": 0,
      "no-unused-vars": 0,
      "no-plusplus": 0,
      "guard-for-in": 0,
      "no-restricted-syntax": ["error", "WithStatement", "BinaryExpression[operator='in']"],
      "prefer-template": 0,
      "arrow-parens": 0,
      "dot-notation": 0,
      "quote-props": [0, "always"],
      "no-else-return": 0,
      "no-shadow": 0,
      "arrow-body-style": [0, "always"],
      "consistent-return": 0,
      "no-trailing-spaces": 0,
      "import/no-extraneous-dependencies": 0,
      "space-before-function-paren": 0,
      "no-lonely-if": 0,
      "no-undef": 0,
      "implicit-arrow-linebreak": 0

  },
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "document": false
  }  
}
